Repository LighteningZero/LighteningSlide, pull requests merged in 2020-09, with the labels that each got.

#55 improve main
  .gitignore
  include/io/fs/fs.h
  scripts/build.sh
  src/extension-engine/main-engine.cc
  src/io/fs/fs.cc
  src/main.cc
  src/slide/slide.cc
  test/test_extension_main_engine.cc
  test/test_extensions.cc
  test/test_fs.cc
  test/test_slide.cc
Labels: CLI/Frontend, Code Refactory/Code Style, enhancement

#60 Improve reveal.js ext
  extension/default.reveal.js
  test/test_extensions.cc
Labels: Extension, Reveal.js, Unit Testing/Integration Testing, bug, enhancement

#64 Fix bugs
  extension/default.blockquote.js
  extension/default.code.js
  extension/default.header.js
  extension/default.liblock.js
  extension/default.libsign.js
  extension/default.libwrapper.js
  extension/default.page.js
  src/extension-engine/main-engine.cc
  src/io/output.cc
  src/js-runner/js.cc
  src/main.cc
  template.json
  test/test_extensions.cc
Labels: Code Refactory/Code Style, Extension, High Priority, Unit Testing/Integration Testing, bug, enhancement

#65 add page background
  extension/default.page.js
  template.json
  test/test_extensions.cc
Labels: Extension, Reveal.js, enhancement

#66 Add ordered list
  extension/default.list.js
  test/test_extensions.cc
Labels: Extension, enhancement

#68 add latex
  .gitignore
  extension/default.reveal.js
  scripts/build.sh
  src/slide/slide.cc
  test/test_extensions.cc
Labels: Extension, Reveal.js, Unit Testing/Integration Testing, enhancement

#69 Improve main
  extension/default.reveal.js
  scripts/build.sh
  src/main.cc
  test/test_extensions.cc
Labels: Code Refactory/Code Style, Extension, Reveal.js, Unit Testing/Integration Testing, bug, enhancement
