Repository LighteningZero/LighteningSlide, pull requests merged in 2020-08, with the labels that each got.

#1 Add extension: defualt scanner
  extension/defualt.scanner.js
  test/test_js.cc
Labels: Extension, enhancement

#2 Add ext defualt h1
  extension/default.h1.js
  extension/defualt.scanner.js
Labels: Extension, enhancement, good first issue

#3 Add lf mode format function and string prototype functions
  extension/default.libscanner.js
  extension/default.libstring.js
Labels: Extension, High Priority, enhancement

#5 add h2 ~ h6
  extension/default.header.js
Labels: Changes Required, Extension, enhancement

#7 add community lists
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#8 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#9 fix extension defualt.header Syntax Error
  extension/default.header.js
Labels: Extension, High Priority, bug

#15 add more CI
  .github/workflows/cppcheck.yml
  .github/workflows/cppformat.yml
  .github/workflows/cpptest.yml
  scripts/format-all-files.sh
  src/config-reader/config.cc
  src/io/output.cc
  test/test_io.cc
  test/test_js.cc
Labels: CI/CD, High Priority, Review Required, enhancement

#18 Add config writer
  include/config-reader/config.h
  src/config-reader/config-writer.tpp
  src/config-reader/config.cc
  test/test_config.cc
Labels: Extension Engine, enhancement

#19 Add json export to file ztl
  include/config-reader/config.h
  scripts/format-all-files.sh
  src/config-reader/config-modify.tpp
  src/config-reader/config.cc
  test/test_config.cc
Labels: Extension Engine, enhancement

#20 Add item size
  include/config-reader/config.h
  src/config-reader/config.cc
  test/test_config.cc
Labels: Extension Engine, enhancement, good first issue

#21 fix memory problem & refactory code in JS Engine
  include/js-runner/js.h
  scripts/format-all-files.sh
  src/js-runner/js.cc
Labels: Code Refactory/Code Style, High Priority, JS Engine, Review Required, bug

#22 add pagedivider extension
  extension/default.blockquote.js
  extension/default.header.js
  extension/default.libscanner.js
  extension/default.pagedivider.js
Labels: Extension, enhancement

#23 fix memory
  src/js-runner/js.cc
Labels: High Priority, JS Engine, bug

#25 format js code
  extension/default.blockquote.js
  extension/default.header.js
  extension/default.libscanner.js
  extension/default.libstring.js
  extension/default.pagedivider.js
Labels: Code Refactory/Code Style, Extension

#26 improve js engine
  include/js-runner/js.h
  src/js-runner/js.cc
  test/debug/debug_js.cc
  test/test_js.cc
Labels: Code Refactory/Code Style, High Priority, JS Engine, bug, enhancement

#30 Add font style extension
  extension/default.fontstyle.js
  extension/default.libstring.js
Labels: Extension, bug, enhancement

#31 fix undefined bug
  extension/default.fontstyle.js
Labels: Extension, bug, good first issue

#32 fix mark number bug
  extension/default.fontstyle.js
Labels: Extension, bug, good first issue

#35 Add extensions test
  extension/default.blockquote.js
  src/extension-engine/main-engine.cc
  test/test_extensions.cc
Labels: Code Refactory/Code Style, Extension, Unit Testing, enhancement

#37 Add extension framework
  extension/default.framework.js
Labels: Extension, enhancement

#40 add link & image extension
  README.md
  extension/default.image.js
  extension/default.link.js
  src/extension-engine/main-engine.cc
  test/test_extensions.cc
Labels: Extension, Unit Testing/Integration Testing, enhancement

#42 Add main
  .github/workflows/cpptest.yml
  CMakeLists.txt
  src/main.cc
Labels: CI/CD, CLI/Frontend, Code Refactory/Code Style, enhancement

#48 Update README.md
  README.md
Labels: documentation

#50 fix liblock bug
  extension/default.liblock.js
  template.json
Labels: Extension, bug

#51 add libsign
  extension/default.libsign.js
  template.json
Labels: Extension, enhancement

#52 make CI faster
  .github/workflows/cpptest.yml
Labels: CI/CD
